<!--Main Navigation-->
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="!isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link h5 h5-responsive" routerLink="/home">Начало <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5 h5-responsive" routerLink="/login">Вход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5 h5-responsive" routerLink="/register">Регистрация</a>
          </li>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
          <li class="nav-item" id="home">
            <a class="nav-link h5 h5-responsive" routerLink="/home">Начало</a>
          </li>

          <li class="nav-item" id="poi-all">
            <a class="nav-link h5 h5-responsive" routerLink="/poi/all">Всички забележителности</a>
          </li>

          <li class="nav-item" id="facts-all">
            <a class="nav-link h5 h5-responsive" routerLink="/facts/all">Всички факти</a>
          </li>
          <ng-container *ngIf="authService.isAdmin()">
            <li class="nav-item dropdown" id="add-menu">
              <a class="nav-link h5 h5-responsive">Добави <i class="fas fa-caret-down"></i></a>
              <ul class="nav-sub-ul dropdown-menu dropdown-menu">
                <li class="nav-item dropdown-item">
                  <a class="nav-link h5 h5-responsive" routerLink="/poi/add">Забележителност</a>
                </li>

                <li class="nav-item dropdown-item">
                  <a class="nav-link h5 h5-responsive" routerLink="/facts/add">Факт</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown" id="edit-menu">
              <a class="nav-link h5 h5-responsive">Редактирай <i class="fas fa-caret-down"></i></a>
              <ul class="nav-sub-ul dropdown-menu dropdown-menu">

                <li class="nav-item dropdown-item">
                  <a class="nav-link h5 h5-responsive" routerLink="/regions/edit">Област</a>
                </li>

                <li class="nav-item dropdown-item">
                  <a class="nav-link h5 h5-responsive" routerLink="/poi/edit">Забележителност</a>
                </li>

                <li class="nav-item dropdown-item">
                  <a class="nav-link h5 h5-responsive" routerLink="/facts/edit">Факт</a>
                </li>
              </ul>
            </li>
          </ng-container>
          <ng-container *ngIf="authService.isRoot()">
            <li class="nav-item" id="edit-users">
              <a class="nav-link h5 h5-responsive" routerLink="/users/edit">Управлявай потребители</a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link h5 h5-responsive" (click)="logout()">Изход</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>

  <div class="header-view">
    <div class="mask rgba-black-light flex-center">
      <div class="container text-center white-text">
        <div class="white-text text-center wow fadeInUp">
          <h1>Преоткрий България</h1>
          <!--          <h3 th:unless="${session.username == null}">[[${session.greeting}]][[${session.username}]]!</h3>-->
        </div>
      </div>
    </div>
  </div>
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main class="text-center py-5 main main-raised">

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<!--Main Layout-->

<footer class="footer bg-white py-2">
  <div class="container-fluid text-center">
    <div class="footer-background h5 text-black">
      &#169; Преоткрий България. Всички права запазени.
    </div>
  </div>
</footer>
