<th:block th:fragment>
    <footer class="footer bg-white py-2">
        <div class="container-fluid text-center">
            <div class="footer-background h5 text-black">
                &#169; Преоткрий България. Всички права запазени.
            </div>
        </div>

        <!-- jQuery -->
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="/js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="/js/mdb.min.js"></script>
        <script
                src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>
        <!-- Your custom scripts (optional) -->
        <script type="text/javascript" src="/js/discoverBulgaria.js"></script>
    </footer>
</th:block>