<th:block th:fragment>
    <!--Main Navigation-->
    <header>

        <th:block th:include="~{fragments/navbar}" />

        <div class="header-view">
            <div class="mask rgba-black-light flex-center">
                <div class="container text-center white-text">
                    <div class="white-text text-center wow fadeInUp">
                        <h1>Преоткрий България</h1>
                        <h3 th:unless="${session.username == null}">[[${session.greeting}]][[${session.username}]]!</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Main Navigation-->
</th:block>