<th:block th:fragment>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Discover Bulgaria</title>
        <!-- Site icon -->
        <!-- <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon"> -->
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="/css/mdb.min.css">
        <!-- Your custom styles (optional) -->
        <link rel="stylesheet" href="/css/discoverBulgaria.css">
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/south-street/jquery-ui.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    </head>
</th:block>