<th:block th:fragment>
            <ul th:if="${cards.totalPages > 1}" class="pagination pg-green justify-content-center">
                <li th:unless="${cards.first}" class="page-item">
                    <a th:if="${isPoi}" th:href="@{/poi/all(size=${cards.size}, page=${cards.number})}" class="page-link prev"><i class="fas fa-chevron-left"></i></a>
                    <a th:unless="${isPoi}" th:href="@{/facts/all(size=${cards.size}, page=${cards.number})}" class="page-link prev"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber==cards.number + 1} ? 'active page-item':'page-item'">
                    <a
                            th:if="${isPoi}"
                            th:href="@{/poi/all(size=${cards.size}, page=${pageNumber})}"
                            th:text=${pageNumber} th:class="page-link"></a>
                    <a
                            th:unless="${isPoi}"
                            th:href="@{/facts/all(size=${cards.size}, page=${pageNumber})}"
                            th:text=${pageNumber} th:class="page-link"></a>
                </li>
                <li th:unless="${cards.last}" class="page-item">
                    <a th:if="${isPoi}" th:href="@{/poi/all(size=${cards.size}, page=${cards.number+2})}" class="page-link next"><i class="fas fa-chevron-right"></i></a>
                    <a th:unless="${isPoi}" th:href="@{/facts/all(size=${cards.size}, page=${cards.number+2})}" class="page-link next"><i class="fas fa-chevron-right"></i></a>
                </li>
            </ul>
</th:block>