<th:block th:fragment>
    <div class="md-form">
        <select class="browser-default custom-select" id="add-edit-select" th:classappend="${isPost} ? (${#fields.errors('oldTitle').isEmpty()} ? 'is-valid' : 'is-invalid')">
            <option value="" disabled selected>Избери факт</option>
            <option th:each="model : ${factViewModels}" th:text="${model.title}"></option>
        </select>

        <div class="invalid-feedback">
            <span th:each="error : ${#fields.errors('oldTitle')}" th:text="${error}"></span>
        </div>
    </div>
</th:block>