<th:block th:fragment>
    <div class="md-form">
        <select class="browser-default custom-select" id="select-region" th:classappend="${isPost} ? (${#fields.errors('regionId').isEmpty()} ? 'is-valid' : 'is-invalid')">
            <option value="" disabled selected>Избери област</option>
            <option th:each="model : ${regionViewModels}" th:id="${model.regionId}" th:text="${model.name}"></option>
        </select>

        <div th:unless="${editRegion}" class="invalid-feedback">
            <span th:each="error : ${#fields.errors('regionId')}" th:text="${error}"></span>
        </div>
    </div>
</th:block>