<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}" />

<body>
<th:block th:include="~{fragments/header}"/>
<div class="row db-form-row">
    <div class="col-md-6 mx-auto">
        <!-- Material form register -->
        <div class="card user-form">

            <h5 class="card-header success-color-dark white-text text-center py-4">
                <strong>Регистрация</strong>
            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" style="color: #757575;" id="register-form" th:action="@{/users/register}" th:method="post" th:object="${userRegisterModel}">

                    <!-- Username -->
                    <div class="md-form">
                        <input type="text" id="username" th:field="*{username}" class="form-control" th:classappend="${isPost} ? (${#fields.errors('username').isEmpty()} ? 'is-valid' : 'is-invalid')">
                        <label for="username">Потребителско име <span>*</span></label>

                        <div class="invalid-feedback">
                            <span th:each="error : ${#fields.errors('username')}" th:text="${error}"></span>
                        </div>
                    </div>



                    <!-- E-mail -->
                    <div class="md-form mt-1">
                        <input type="email" id="email" th:field="*{email}" class="form-control" th:classappend="${isPost} ? (${#fields.errors('email').isEmpty()} ? 'is-valid' : 'is-invalid')">
                        <label for="email">Имейл <span>*</span></label>

                        <div class="invalid-feedback">
                            <span th:each="error : ${#fields.errors('email')}" th:text="${error}"></span>
                        </div>
                    </div>



                    <!-- Password -->
                    <div class="md-form mt-1">
                        <input type="password" id="password" th:field="*{password}" class="form-control" th:classappend="${isPost} ? (${#fields.errors('password').isEmpty()} ? 'is-valid' : 'is-invalid')">
                        <label for="password">Парола <span>*</span></label>

                        <div class="invalid-feedback">
                            <span th:each="error : ${#fields.errors('password')}" th:text="${error}"></span>
                        </div>
                    </div>



                    <!-- Confirm Password -->
                    <div class="md-form mt-1">
                        <input type="password" id="confirmPassword" th:field="*{confirmPassword}" class="form-control" th:classappend="${isPost} ? (${#fields.hasGlobalErrors() || not #fields.errors('confirmPassword').isEmpty()} ? 'is-invalid' : 'is-valid')">
                        <label for="confirmPassword">Потвърди парола <span>*</span></label>

                        <th:block th:if="${not #fields.hasErrors('password')}">
                            <div class="invalid-feedback">
                                <span th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}"></span>
                            </div>

                            <div class="invalid-feedback" th:if="${not #fields.hasErrors('confirmPassword')}">
                                <span th:each="error : ${#fields.globalErrors()}" th:text="${error}"></span>
                            </div>
                        </th:block>
                    </div>



                    <!-- Sign up button -->
                    <button class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Регистрация</button>

                    <p>Вече имате профил?
                        <a th:href="@{/users/login}">Вход</a>
                    </p>
                </form>
                <!-- Form -->
            </div>
        </div>
        <!-- Material form register -->
    </div>
</div>

<th:block th:include="~{fragments/footer}" />

<th:block th:include="~{fragments/jquery-validation-scripts}" />
<script type="text/javascript" th:src="@{/js/register-form-validate.js}"></script>
</body>
</html>
