<div class="row db-form-row">
  <div class="col-md-7 mx-auto">

<!--    <div th:if="${poiError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">-->
<!--      <strong>Грешка!</strong><span th:text="${poiError}"></span>-->
<!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->

    <div *ngIf="poiSaved || poiDeleted" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Забележителността бе успешно {{ isEdit ? poiDeleted ? 'изтритa' : 'редактиранa' : 'добавенa' }}!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Material form poi -->
    <div class="card user-form">
      <h5 class="card-header success-color-dark white-text text-center py-4">
        <strong>{{ isEdit ? 'Редактирай' : 'Добави' }} забележителност</strong>
        {{ currentPoi | json }}
      </h5>
      <!--Card content-->
      <div class="card-body px-lg-5 pt-0" id="direct_upload" ng2FileDrop [uploader]="uploader">
        <!-- Form -->
        <form (ngSubmit)="onSubmit()" style="color: #757575;"> <!-- th:id="${isEdit} ? 'edit-poi-form' : 'poi-form'" th:action="${isEdit} ? @{/poi/edit} : @{/poi/add}" th:method="post" th:object="${poiFormViewModel}"> -->

          <ng-container *ngIf="isEdit">
            <div class="md-form">
              <select class="browser-default custom-select" id="add-edit-select"
                      name="currentPoi"
                      [ngModel]="currentPoi"
                      (ngModelChange)="assignSelectedPoi($event)"
                      (click)="toggleLabels()">
                <option [disabled]="thePoi.title === 'Избери забележителност'"
                        [selected]="thePoi.title === 'Избери забележителност'"
                        *ngFor="let thePoi of poi" [ngValue]="thePoi">{{thePoi.title}}</option>
              </select>
            </div>
          </ng-container>

          <!-- Poi type -->
          <div class="md-form text-center">
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="history-check" value="HISTORY" name="type"
                     [(ngModel)]="currentPoi.type">
              <label class="form-check-label" for="history-check">Историческа <span>*</span></label>
            </div>

            <div class="form-check form-check-inline" id="nature-div">
              <input type="radio" class="form-check-input" id="nature-check" name="type" value="NATURE"
                     [(ngModel)]="currentPoi.type">
              <label class="form-check-label" for="nature-check">Природонаучна <span>*</span></label>
            </div>
          </div>

          <!-- Poi region select -->
          <div class="md-form">
            <select class="browser-default custom-select" id="select-region" [(ngModel)]="currentPoi.regionId"> <!-- th:classappend="${isPost && !editRegion} ? (${#fields.errors('regionId').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
              <option value="" disabled selected>Избери област</option>
              <option *ngFor="let region of regions" id="{{region.regionId}}"
                      [value]="region.regionId">{{region.name}}</option>
            </select>
          </div>

          <!-- Poi title -->
          <div class="md-form">
            <input active-label type="text" id="title" class="form-control"
                   name="title"
                   [(ngModel)]="currentPoi.title"> <!-- th:field="*{title}" th:classappend="${isPost} ? (${#fields.errors('title').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="title">Заглавие <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('title')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Poi address -->
          <div class="md-form">
            <input active-label type="text" id="address" class="form-control"
                   name="address"
                   [(ngModel)]="currentPoi.address"> <!-- th:field="*{address}" th:classappend="${isPost} ? (${#fields.errors('address').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="address">Адрес</label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('address')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Poi latitude -->
          <div class="md-form">
            <input active-label type="number" id="latitude" class="form-control"
                   name="latitude"
                   [ngModel]="currentPoi.latitude !== 0 ? currentPoi.latitude : ''"
                   (ngModelChange)="currentPoi.latitude=$event"> <!-- th:field="*{latitude}" th:classappend="${isPost} ? (${#fields.errors('latitude').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="latitude">Геогр. ширина <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('latitude')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Poi longitude -->
          <div class="md-form">
            <input active-label type="number" id="longitude" class="form-control"
                   name="longitude"
                   [ngModel]="currentPoi.longitude !== 0 ? currentPoi.longitude : ''"
                   (ngModelChange)="currentPoi.longitude=$event"> <!-- th:field="*{longitude}" th:classappend="${isPost} ? (${#fields.errors('longitude').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="longitude">Геогр. дължина <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('longitude')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Poi Description -->
          <div class="md-form">

            <i class="fas fa-pencil-alt prefix"></i>
            <textarea active-label id="description" class="md-textarea form-control"
                      name="description"
                      [(ngModel)]="currentPoi.description"></textarea> <!-- rows="3" th:field="*{description}" th:classappend="${isPost} ? (${#fields.errors('description').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="description">Описание <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('description')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Read More link -->
          <div class="md-form">
            <input active-label type="text" id="readMore" class="form-control"
                   name="readMore" [(ngModel)]="currentPoi.readMore"> <!-- th:field="*{readMore}" th:classappend="${isPost} ? (${#fields.errors('readMore').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="readMore">Връзка "Прочети повече"</label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('readMore')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <div class="md-form">
            <div class="file-field form-control"> <!-- th:classappend="${isPost} ? (${#fields.errors('imageUrl').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
              <div class="btn btn-primary btn-sm float-left">
                <span>Избери файл</span>
                <input id="fileupload" [uploader]="uploader" ng2FileSelect name="file" type="file" class="cloudinary-fileupload" accept=".jpg,.gif,.png">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Качете снимка">
              </div>

              <div id="loader" class="d-none justify-content-center">
                <!--Small yellow-->
                <div class="preloader-wrapper active">
                  <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('imageUrl')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Add button -->
          <div class="row">
            <div *ngIf="isEdit" class="md-form col-sm-6">
              <button class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0" (click)="deleteSelectedPoi()">Изтрий</button>
            </div>
            <div class="md-form" [ngClass]="{'col-sm-6': isEdit, 'col-sm-12': !isEdit}">
              <button class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">{{ isEdit ? 'Редактирай' : 'Добави' }}</button>
            </div>
          </div><!-- th:text="${isEdit} ? 'Готово' : 'Добави'" -->

        </form>
        <!-- Form -->
      </div>
    </div>
    <!-- Material form poi -->
  </div>
</div>
