<div class="row db-form-row">
  <div class="col-md-7 mx-auto">

<!--    <div th:if="${poiError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">-->
<!--      <strong>Грешка!</strong><span th:text="${poiError}"></span>-->
<!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->

<!--    <div th:if="${isSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--      <strong th:if="${isEdit}" >Забележителността бе успешно редактирана!</strong>-->
<!--      <strong th:unless="${isEdit}" >Забележителността бе успешно добавена!</strong>-->
<!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->

    <!-- Material form poi -->
    <div class="card user-form">
      <h5 class="card-header success-color-dark white-text text-center py-4">
        <strong>Добави/Редактирай забележителност</strong>
<!--        <strong th:if="${isEdit}">Редактирай забележителност</strong>-->
      </h5>
      <!--Card content-->
      <div class="card-body px-lg-5 pt-0">
        <!-- Form -->
        <form style="color: #757575;"> <!-- th:id="${isEdit} ? 'edit-poi-form' : 'poi-form'" th:action="${isEdit} ? @{/poi/edit} : @{/poi/add}" th:method="post" th:object="${poiFormViewModel}"> -->

<!--          <th:block th:if="${isEdit}">-->
<!--            &lt;!&ndash; Select Poi to edit &ndash;&gt;-->
<!--            <th:block th:include="~{fragments/selectPoi}" />-->
<!--          </th:block>-->
          <ng-container *ngIf="isEdit()">
            <div class="md-form">
              <select class="browser-default custom-select" id="add-edit-select"> <!-- th:classappend="${isPost} ? (${#fields.errors('oldTitle').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
                <option value="" disabled selected>Избери забележителност</option>
                <option *ngFor="let thePoi of poi" id="{{thePoi.regionId}}">{{thePoi.title}}</option>
              </select>
            </div>
          </ng-container>

          <!-- Poi type -->
<!--          <th:block th:include="~{fragments/chooseType}" />-->

          <!-- Poi region select -->
          <div class="md-form">
            <select class="browser-default custom-select" id="select-region"> <!-- th:classappend="${isPost && !editRegion} ? (${#fields.errors('regionId').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
              <option value="" disabled selected>Избери област</option>
              <option *ngFor="let region of regions" id="{{region.regionId}}">{{region.name}}</option>
            </select>
          </div>

          <!-- Poi title -->
          <div class="md-form">
            <input active-label type="text" id="title" class="form-control"> <!-- th:field="*{title}" th:classappend="${isPost} ? (${#fields.errors('title').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="title">Заглавие <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('title')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Poi address -->
          <div class="md-form">
            <input active-label type="text" id="address" class="form-control"> <!-- th:field="*{address}" th:classappend="${isPost} ? (${#fields.errors('address').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="address">Адрес</label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('address')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Poi latitude -->
          <div class="md-form">
            <input active-label type="number" id="latitude" class="form-control"> <!-- th:field="*{latitude}" th:classappend="${isPost} ? (${#fields.errors('latitude').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="latitude">Геогр. ширина <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('latitude')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Poi longitude -->
          <div class="md-form">
            <input active-label type="number" id="longitude" class="form-control"> <!-- th:field="*{longitude}" th:classappend="${isPost} ? (${#fields.errors('longitude').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="longitude">Геогр. дължина <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('longitude')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Poi Description -->
          <div class="md-form">

            <i class="fas fa-pencil-alt prefix"></i>
            <textarea active-label id="description" class="md-textarea form-control"></textarea> <!-- rows="3" th:field="*{description}" th:classappend="${isPost} ? (${#fields.errors('description').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="description">Описание <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('description')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Read More link -->
          <div class="md-form">
            <input active-label type="text" id="readMore" class="form-control"> <!-- th:field="*{readMore}" th:classappend="${isPost} ? (${#fields.errors('readMore').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="readMore">Връзка "Прочети повече"</label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('readMore')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <div class="md-form">
            <div class="file-field form-control"> <!-- th:classappend="${isPost} ? (${#fields.errors('imageUrl').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
              <div class="btn btn-primary btn-sm float-left">
                <span>Избери файл</span>
                <input name="file" type="file" class="cloudinary-fileupload" data-cloudinary-field="image_data" data-form-data="{ &quot;upload_preset&quot;:  &quot;sgfh2nld&quot;,
                                            &quot;callback&quot;: &quot;/cloudinary/cloudinary_cors.html&quot;}" accept=".jpg,.gif,.png">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Качете снимка">
              </div>

<!--              <th:block th:include="~{fragments/loader}" />-->

            </div>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('imageUrl')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

<!--          <input type="hidden" id="regionId" th:field="*{regionId}">-->
<!--          <input type="hidden" id="imageUrl" th:field="*{imageUrl}">-->
<!--          <input type="hidden" id="oldTitle" th:field="*{oldTitle}">-->
<!--          <input type="hidden" id="isSubmit" value="false">-->
<!--          <input type="hidden" id="delete_token">-->

          <!-- Add button -->
          <button class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Готово/Добави</button> <!-- th:text="${isEdit} ? 'Готово' : 'Добави'" -->

        </form>
        <!-- Form -->
      </div>
    </div>
    <!-- Material form poi -->
  </div>
</div>
