<div class="row db-form-row">
  <div class="col-md-7 mx-auto">

<!--    <div th:if="${factError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">-->
<!--      <strong>Грешка!</strong><span th:text="${factError}"></span>-->
<!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->

<!--    <div th:if="${isSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--      <strong th:if="${isEdit}" >Фактът бе успешно редактиран!</strong>-->
<!--      <strong th:unless="${isEdit}" >Фактът бе успешно добавен!</strong>-->
<!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->

    <!-- Material form fact -->
    <div class="card user-form">
      <h5 class="card-header success-color-dark white-text text-center py-4">
        <strong>{{ isEdit ? 'Редактирай' : 'Добави' }} факт</strong>
      </h5>
      <!--Card content-->
      <div class="card-body px-lg-5 pt-0"  id="direct_upload" ng2FileDrop [uploader]="uploader">
        <!-- Form -->
        <form (ngSubmit)="onSubmit()" style="color: #757575;"> <!-- th:id="${isEdit} ? 'edit-fact-form' : 'fact-form'" th:action="${isEdit} ? @{/facts/edit} : @{/facts/add}" th:method="post" th:object="${factFormViewModel}"> -->


          <ng-container *ngIf="isEdit">
          <div class="md-form">
            <select class="browser-default custom-select" id="add-edit-select"
                    name="currentFact"
                    [ngModel]="currentFact"
                    (ngModelChange)="assignSelectedFact($event)"
                    (click)="onSelectFact()">
              <option disabled selected>Избери факт</option>
              <option *ngFor="let fact of facts" [ngValue]="fact">{{fact.title}}</option>
            </select>
          </div>
          </ng-container>

          <!-- Fact type -->
          <div class="md-form text-center">
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="history-check" value="HISTORY" name="type"
                     [(ngModel)]="currentFact.type">
              <label class="form-check-label" for="history-check">Исторически <span>*</span></label>
            </div>

            <div class="form-check form-check-inline" id="nature-div">
              <input type="radio" class="form-check-input" id="nature-check" name="type" value="NATURE"
                     [(ngModel)]="currentFact.type">
              <label class="form-check-label" for="nature-check">Природонаучен <span>*</span></label>
            </div>
          </div>

          <!-- Fact region select -->
          <div class="md-form">
            <select class="browser-default custom-select" id="select-region" [(ngModel)]="currentFact.regionId"> <!-- th:classappend="${isPost && !editRegion} ? (${#fields.errors('regionId').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
              <option value="" disabled selected>Избери област</option>
              <option *ngFor="let region of regions" id="{{region.regionId}}"
                      [value]="region.regionId">{{region.name}}</option>
            </select>
          </div>

          <!-- Fact title -->
          <div class="md-form">
            <input active-label type="text" id="title" name="title" class="form-control" [(ngModel)]="currentFact.title"> <!-- th:field="*{title}" th:classappend="${isPost} ? (${#fields.errors('title').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="title">Заглавие <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('title')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Fact Description -->
          <div class="md-form">

            <i class="fas fa-pencil-alt prefix"></i>
            <textarea active-label id="description" name="description" class="md-textarea form-control" rows="3" [(ngModel)]="currentFact.description"></textarea> <!--  th:field="*{description}" th:classappend="${isPost} ? (${#fields.errors('description').isEmpty()} ? 'is-valid' : 'is-invalid')" -->
            <label class="label-edit" for="description">Описание <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('description')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Read More link -->
          <div class="md-form">
            <input active-label type="text" id="readMore" name="readMore" class="form-control" [(ngModel)]="currentFact.readMore"> <!-- th:field="*{readMore}" th:classappend="${isPost} ? (${#fields.errors('readMore').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="readMore">Връзка "Прочети повече"</label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('readMore')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <div class="md-form">
            <div class="file-field form-control"> <!-- th:classappend="${isPost} ? (${#fields.errors('imageUrl').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
              <div class="btn btn-primary btn-sm float-left">
                <span>Избери файл</span>
                <input  id="fileupload"  [uploader]="uploader" ng2FileSelect name="file" type="file" class="cloudinary-fileupload" accept=".jpg,.gif,.png">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Качете снимка">
              </div>

              <div id="loader" class="d-none justify-content-center">
                <!--Small yellow-->
                <div class="preloader-wrapper active">
                  <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('imageUrl')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

<!--          <input type="hidden" id="regionId" th:field="*{regionId}">-->
<!--          <input type="hidden" id="imageUrl" th:field="*{imageUrl}">-->
<!--          <input type="hidden" id="oldTitle" th:field="*{oldTitle}">-->
<!--          <input type="hidden" id="isSubmit" value="false">-->
<!--          <input type="hidden" id="delete_token">-->

          <!-- Add button -->
          <button class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">{{ isEdit ? 'Редактирай' : 'Добави' }}</button>

        </form>
        <!-- Form -->
      </div>
    </div>
    <!-- Material form fact -->
  </div>
</div>
