<div class="row db-form-row">
  <div class="col-md-7 mx-auto">

<!--    <div th:if="${factError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">-->
<!--      <strong>Грешка!</strong><span th:text="${factError}"></span>-->
<!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->

<!--    <div th:if="${isSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--      <strong th:if="${isEdit}" >Фактът бе успешно редактиран!</strong>-->
<!--      <strong th:unless="${isEdit}" >Фактът бе успешно добавен!</strong>-->
<!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->

    <!-- Material form fact -->
    <div class="card user-form">
      <h5 class="card-header success-color-dark white-text text-center py-4">
        <strong>Добави/Редактирай факт</strong>
<!--        <strong th:if="${isEdit}">Редактирай факт</strong>-->
      </h5>
      <!--Card content-->
      <div class="card-body px-lg-5 pt-0">
        <!-- Form -->
        <form style="color: #757575;"> <!-- th:id="${isEdit} ? 'edit-fact-form' : 'fact-form'" th:action="${isEdit} ? @{/facts/edit} : @{/facts/add}" th:method="post" th:object="${factFormViewModel}"> -->

<!--          <th:block th:if="${isEdit}">-->
<!--            &lt;!&ndash; Select Fact to edit &ndash;&gt;-->
<!--            <th:block th:include="~{fragments/selectFact}" />-->
<!--          </th:block>-->

          <!-- Fact type -->
<!--          <th:block th:include="~{fragments/chooseType}" />-->

          <!-- Fact region select -->
          <div class="md-form">
            <select class="browser-default custom-select" id="select-region"> <!-- th:classappend="${isPost && !editRegion} ? (${#fields.errors('regionId').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
              <option value="" disabled selected>Избери област</option>
              <option *ngFor="let region of regions" id="{{region.regionId}}">{{region.name}}</option>
            </select>
          </div>

          <!-- Fact title -->
          <div class="md-form">
            <input active-label type="text" id="title" class="form-control"> <!-- th:field="*{title}" th:classappend="${isPost} ? (${#fields.errors('title').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="title">Заглавие <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('title')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Fact Description -->
          <div class="md-form">

            <i class="fas fa-pencil-alt prefix"></i>
            <textarea active-label id="description" class="md-textarea form-control" rows="3"></textarea> <!--  th:field="*{description}" th:classappend="${isPost} ? (${#fields.errors('description').isEmpty()} ? 'is-valid' : 'is-invalid')" -->
            <label class="label-edit" for="description">Описание <span>*</span></label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('description')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <!-- Read More link -->
          <div class="md-form">
            <input active-label type="text" id="readMore" class="form-control"> <!-- th:field="*{readMore}" th:classappend="${isPost} ? (${#fields.errors('readMore').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
            <label class="label-edit" for="readMore">Връзка "Прочети повече"</label>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('readMore')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

          <div class="md-form">
            <div class="file-field form-control"> <!-- th:classappend="${isPost} ? (${#fields.errors('imageUrl').isEmpty()} ? 'is-valid' : 'is-invalid')"> -->
              <div class="btn btn-primary btn-sm float-left">
                <span>Избери файл</span>
                <input name="file" type="file" class="cloudinary-fileupload" data-cloudinary-field="image_data" data-form-data="{ &quot;upload_preset&quot;:  &quot;v6pqytxh&quot;,
                                            &quot;callback&quot;: &quot;/cloudinary/cloudinary_cors.html&quot;}" accept=".jpg,.gif,.png">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Качете снимка">
              </div>

<!--              <th:block th:include="~{fragments/loader}" />-->

            </div>

<!--            <div class="invalid-feedback">-->
<!--              <span th:each="error : ${#fields.errors('imageUrl')}" th:text="${error}"></span>-->
<!--            </div>-->
          </div>

<!--          <input type="hidden" id="regionId" th:field="*{regionId}">-->
<!--          <input type="hidden" id="imageUrl" th:field="*{imageUrl}">-->
<!--          <input type="hidden" id="oldTitle" th:field="*{oldTitle}">-->
<!--          <input type="hidden" id="isSubmit" value="false">-->
<!--          <input type="hidden" id="delete_token">-->

          <!-- Add button -->
          <button class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Добави</button>

        </form>
        <!-- Form -->
      </div>
    </div>
    <!-- Material form fact -->
  </div>
</div>
