<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}" />

<body>
<th:block th:include="~{fragments/header}"/>
<!--Main Layout-->
<main class="text-center py-5 main main-raised">

    <div class="container">
        <h1>Добре дошли в Преоткрий България.</h1>
        <hr class="my-3"/>
        <p class="h4">Мястото, което Ви помага да опознаете нашата родина най-добре.</p>
        <hr class="my-3"/>
        <p class="h3"><a th:href="@{/users/login}">Влезте</a> ако вече имате профил или се
            <a th:href="@{/users/register}">регистрирайте</a>, за да продължите.
        </p>
    </div>
</main>
<!--Main Layout-->
<th:block th:include="~{fragments/footer}" />
</body>
</html>
